/* Querys */
@media only screen and (min-width: 1050px) {
  .me-container {
    width: calc(96%);
    float: left;
  }

  .me-nav-right {
    width: 4%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    right: -16px;
  }

  .me-nav-right>ul>li>a {
    font-size: 14px;
    writing-mode: vertical-lr;
    letter-spacing: 0.6px;
  }

  .me-nav-right>ul>li>a:hover {
    color: gray;
    font-weight: bold;
  }

  .me-data {
    display: flex;
    flex-direction: row;
  }

  .me-data>p {
    width: calc(50% - 21px);
  }

  .me-data>hr {
    height: 20vh !important;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px !important;
    color: gray;
    background-color: gray;
  }

  .padd {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .padd>div>h2 {
    padding-left: 40px !important;
  }

  .me-data-pos {
    background-color: transparent;
  }

  /* .me-section-data {
    padding-left: 25px;
  } */

  .me-footer>div {
    display: flex;
    flex-direction: row;
  }

  .me-footer>div>div {
    width: 50%;
  }

  .me-footer-icons {
    justify-content: flex-end !important;
  }

  .me-arrow {
    display: none !important;
  }

  .me-flecha {
    display: none;
  }

  .padding {
    padding: 25px 100px;
    height: 296px;
  }

  .me-menu {
    display: block;
    position: relative;
    padding: 0 100px;
    width: calc(100% - 200px);
  }

  .me-menu>ul {
    display: flex;
    width: 100%;
  }

  .me-hamburguesa {
    display: none;
  }

  /* Seccion */
  .me-section {
    width: 100%;
    flex-direction: row;
    padding: 0;
  }

  .me-section-img {
    padding: 130px 50px 130px 0px;
    padding-left: 100px;
  }

  /* .me-section-data {
    padding-right: 100px;
  } */

  .me-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .me-section>div {
    flex-grow: 1 !important;
    width: calc(50% - 100px);
  }

  .me-section>div>img {
    display: block;
    width: 100%;
    height: 319px;
    border-radius: 35px;
    margin: 0 auto;
    object-fit: cover;
  }

  /* Maps */
  #me-maps {
    padding: 45px 100px 0 100px !important;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
  }

  #me-maps>div>img {
    margin: 0;
  }

  #me-maps>div {
    padding: 25px 15px;
  }

  .me-section-data {
    padding: 130px 50px 130px 25px;
  }

  .me-footer {
    padding: 25px 100px;
  }

  .me-line-fn {
    margin: 105px 0 0 0;
  }

  .me-show-line {
    display: none;
  }

  .me-show {
    display: block !important;
  }

  /* Footer */
  .me-footer-icons {
    border-left: 2px solid white;
  }


  /*---------------------------- ARTICLE MEXJAL --------------------------------*/
  .me-article {
    display: flex !important;
    width: 100%;
    flex-direction: row;
  }

  .me-article-text {
    width: calc(50% - 125px);
    padding: 100px 25px 25px 100px;
  }

  .me-article-data {
    padding: 100px 100px 25px 25px;
    width: calc(50%);
  }

  /* ---------------------- OPERADORA -------------------- */

  .slides {
    padding: 50px 0;
    justify-content: center;
  }

  .slides>div {
    width: calc(50% - 100px);
  }

  .slider>a {
    display: none;
  }

  .new-data {
    display: flex;
    width: calc(100% - 200px);
    flex-direction: column !important;
  }

  .msg-section {
    height: 684px;
    margin-top: -380px;
  }

  .msg-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 460px;
  }

  .img-cont {
    width: 360px;
    height: 100%;
  }

  .info-cont {
    width: calc(100% - 360px);
  }

  .msg-info-child1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "agencia ubicacion ubicacion"
      "ciudad estado cp";
  }

  .msg-info-child2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 103.5px auto;
    grid-template-areas:
      "agente telefono email"
      "mensaje mensaje mensaje";
  }


  #agencia,
  #ubicacion,
  #agente,
  #telefono,
  #email {
    border-bottom: 1px solid #1D1D1D;
  }

  #estado {
    border-bottom: 0px solid #1D1D1D;
    border-right: 0px solid #1D1D1D;
  }

  #cp {
    border-bottom: 0px solid #1D1D1D;
    border-left: 0px solid #1D1D1D;
  }

  #ciudad {
    border-bottom: 0px solid #1D1D1D;
  }

  #ag {
    padding-right: 25px;
    border-right: 1px solid #1d1d1d;
  }

  #ub {
    border-left: 1px solid #1d1d1d;
    padding-left: 25px;
  }

  #ci {
    border-right: 1px solid #1d1d1d;
    padding-right: 25px;
  }

  #es {
    padding-right: 25px;
    padding-left: 25px;
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
  }

  #cp-child {
    padding-left: 25px;
    border-left: 1px solid #1d1d1d;
  }

  #agen {
    padding-right: 25px;
    border-right: 1px solid #1d1d1d;
  }

  #te {
    padding-right: 25px;
    padding-left: 25px;
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
  }

  #em {
    padding-left: 25px;
    border-left: 1px solid #1d1d1d;
  }

  /********/

  .me-show-text {
    width: calc(100% - 157px);
  }

  .me-login {
    flex-direction: row;
  }

  .me-login-img {
    width: 30%;
    border-radius: 0;
    border-radius: 35px;
  }

  .me-login-data {
    width: calc(70% + 25px);
    margin-left: -25px;
    border-radius: 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-left: -35px;

  }

  .me-log {
    height: auto !important;
  }

  .dis-none {
    display: inline;
  }

  .me-subrayado {
    border-bottom: 1px solid black;
  }

  .me-subrayado:hover {
    border-bottom: 1px solid white;
  }

  .b-left {
    border-left: 1px solid gray;
  }

  .p-left-0 {
    padding-left: 0px;
    margin-left: -20px;
  }

  .ml-25 {
    margin-left: 25px;
  }
}