*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-weight: 500; */
}

p{
  font-size: 18px;
  font-weight: 800;
}

ul{
  list-style-type: none;
}

.padding{
  padding: 0 15px 30px 15px;
}

input{
  outline: none;
}

a{
  outline: none;
}

.me-container{
  width: 100%;
}

/* Nav bar */
/* TODO:Este se modifica para cambiar a desktop */
.me-menu{
  padding: 0 16px 0px 16px;
  width: calc(100% - 32px);
}

.me-menu-encabezado{
  padding: 40px 0 7px 0;
  background-color: transparent;
}

.me-menu-encabezado > div{
  float: left;
  width: 50%;
  background-color: transparent;
}

.me-menu-encabezado > div:first-child > h3{
  float: left;
  display: block;
}

.me-menu-encabezado > div:last-child > h3{
  float: right;
  display: block;
}

.me-nav-icons{
  display: flex;
  justify-content: flex-end;
}

.me-nav-icons > object{
  padding: 0 5px;
}

.me-top-data{
  height: 278px;
}

.me-menu-movil{
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: red;
  border-radius: 35px;
  display: block !important;
  padding: 25px 15px;
}

.me-menu-movil > li{
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.me-flecha{
  float: right;
  fill: white;
}

/* TODO:Se canvia para ajustar en vista desktop */
.me-menu > ul {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.me-menu > ul > li{
  margin-left: 10px;
  letter-spacing: 0.95px;
  font-size: 19px;
  font-weight: 700;
}

.me-menu > ul > li > a{
  text-decoration:none;
  color: black;
}

.me-menu > ul > li > a:hover{
  color: white;
}

/* Buttons */
.ma-buttons{
  z-index: 0;
  position: relative;
  margin-top: 25px;
  height: 54px;
  width: 100%;
  background-color: transparent;
}

.ma-buttons > input{
  position: absolute;
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 35px;
  padding: 0 25px 0 25px;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
}

.ma-buttons > input:hover, div{
  background-color: white;
}

.ma-btn-transiton{
  position: absolute;
  top: 0;
  left: 160px;
  height: 46px;
  width: 60px;
  z-index: 0;
  border-radius: 0 35px 35px 0;
  border: 2px solid black;
}

/* Seccion de data sin fondo */
.me-only-data{
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 32px);
  margin: 50px 16px;
}

/* TODO:Para escritorio */
.me-only-data > div{
  display: block;
  /* width: calc(50% - 40px); */
  width: 100%;
  float: left;
  /* padding: 20px; */
}

/* TODO:Para escritorio */
/* .me-only-right{
  border-left: 1px solid gray;
} */

/* Seccion */
/* .me-section{
  padding: 40px 15px 100px 15px;
  height: 20%;
}

.me-section > div{
  display: block;
  background-color: transparent;
}

.me-section-img > h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.me-section > div > img{
  display: block;
  width: calc(100% - 16px);
  height: 243px;
  border-radius: 35px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.me-section-data > h1{
  font-size: 24px;
  margin-top: 15px;
} */

.me-section{
  padding: 5px 0 50px 0;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.me-section-img {
  padding: 25px 100px;
  align-items: center;
}

.me-section-img > img{
  display: block;
  width: 100%;
  height: 243px;
  border-radius: 35px;
  object-fit: cover;
  margin: 20px 0;
}

.me-section-logo{
  padding-bottom: 10px;
  background-color: transparent;
  /* margin-left: -15px; */
}

.me-section-data{
  padding: 25px 15px;
}
/* End seccion */

/* Footer */
.me-footer{
  padding: 25px 16px;
  background-color: black;
}

.me-footer > div{
  background-color: transparent;
}

.me-footer-icons {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.me-footer-icons > ul{
  display: flex;
  flex-direction: row;
}

.me-footer-icons > ul > li{
  padding: 5px;
  font-size: 25px;
  color: white;
}

.me-social > li > img{
  width: 25px;
  height: 25px;
}
/* End footer */

/* Background color */
.azul{
  background-color: #5597FF;
}

.verde{
  background-color: #22CE6B;
}

.naranja{
  background-color: #FFAD4E;
}

.rojo{
  background-color: #FF4343;
}

.negro{
  background-color: #1D1D1D;
}
/* End background color */

.me-line{
  height:2px;
  border-width:0;
  background-color:black;
  margin: 25px 0 10px 0;
}

/* Fonts H1,H2,H3,H4,H5 */
h1{
  font-size: 32px;
  font-weight: 700;
}

h3{
  font-weight: 700;
}

h4{
  font-size: 20px;
  font-weight: 100;
}

/* Data */
.me-data {
  padding: 40px 15px 70px 15px;
}
/* End data */

