/* Contact */
#me-contact{
  background-color: #5597FF;
  padding: 40px 15px 70px 15px;
}
/* End contact */

/* Data */
.me-data > p:not(:last-child){
  padding-bottom: 25px;
}
/* End data */

/* Maps */
#me-maps{
  width: calc(100% - 32px);
  padding: 0px 16px;
  background: white;
  background: -moz-linear-gradient(top,  white 0%, white 49%, black 39%, black 39%, black 39%, black 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  white 0%, white 49%,black 39%,black 39%,black 39%,black 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  white 0%, white 49%,black 39%,black 39%,black 39%,black 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='black',GradientType=0 ); /* IE6-9 */
}

#me-maps > div{
  background-color: transparent;
}

#me-maps > div > img{
  object-fit: none;
  /* object-position: 100% 100%; */
  width: 100%;
  margin-top: 100px;
  margin-bottom: 35px;
  height: 443px;
  border-radius: 35px;
}

.me-img-maps{
  position: relative;
  width: 100%;
}

.me-img-maps > input{
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 225px;
  height: 50px;
  border: 2px solid white;
  border-radius: 35px;
  background-color: #2f3436;
  color: white;
  font-size: 16px;
  font-weight: bold;
  overflow-y: none;
}

/* End maps */

.me-section-data{
  padding: 25px 100px 0px 15px !important;
}
