<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/1050px.css">

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div class="me-container">
    <nav class="me-menu" style="background-color: #FF8E8E;">
      <div class="me-menu-encabezado">
        <div style="padding-bottom: 10px">
          <img src="./assets/icons/mexjal.svg" alt="" width="100">
        </div>
        <div class="me-nav-icons">
          <img src="../assets/icons/home-24px.svg" />
          <img src="../assets/icons/chat_bubble_outline-24px.svg" />
          <img src="../assets/icons/Icono-Menú.svg" class="me-hamburguesa" />
        </div>
        <div style="width: 100%; float: left;">
          <hr class="me-line" style="margin: 10px 0;">
        </div>
      </div>

      <ul>
        <li><a href="./mexjal.html">GRUPO Mexjal |</a></li>
        <li><a href="./operadora.html">Operadora |</a></li>
        <li><a href="./consolidador.html">Consolidador |</a></li>
        <li><a href="./corporate.html">CORPORATE Mexjal |</a></li>
        <li><a href="./assist.html">Assist-med |</a></li>
        <li><a href="./login.html">Iniciar Sesión |</a></li>
      </ul>
    </nav>

    <div class="me-top-data padding" style="background-color: #FF8E8E;">
      <div>
        <h1>
          Seguridad a la hora <br>
          de viajar
        </h1>
      </div>

      <div class="ma-buttons">
        <input type="button" value="Contáctanos">
        <div class="ma-btn-transiton" style="background-color: #FF4343;"></div>
      </div>
    </div>

    <div class="me-data padd">
      <p>
        Assist-med ofrece la mejor opción en asistencia al viajero, garantizando el mejor precio y calidad del
        mercado. <br> — <br>
        Hemos creado nuestros productos a través de un exhaustivo seguimiento de precios y un completo
        análisis de las necesidades de los viajeros.
        <br> —
      </p>
      <hr style="height:2px;background-color:gray; margin-bottom: 25px;">
      <p>
        De esta forma, aseguramos una completa innovación en nuestros servicios de asistencia al viajero y brindamos
        una experiencia personalizada que abarque todas las necesidades de los clientes.
      </p>
    </div>

    <div class="me-section">
      <div class="me-section-img" style="background-color: #efefef;">
        <div class="me-section-logo">
          <!-- <img src="../assets/icons/operadora.svg" width="156" height="24"> -->
        </div>
        <img src="../assets/img/Assist-med/1-0.png" height="243" alt="">
      </div>

      <div class="me-section-data">
        <h1>
          <strong>¡No más preocupaciones al viajar! |<br></strong> <br> Clientes seguros y protegidos.
        </h1>
        <hr class="me-line" style="background-color: gray;">
        <p>
          Queremos que sus clientes se sientan seguros y protegidos por ello la importancia de contratar un servicio que
          pueda mantenerlos protegidos de cualquier tipo de situación. <br> — <br>
          Blinda a tus clientes 24/7 de las adversidades y asegurarles un viaje placido y sin inconvenientes.
        </p>
        <br>
        <h4>
          <p>| Ahorran dinero.</p>
          <p>| No más inconvenientes.</p>
          <p>| Viajan tranquilos.</p>
          <p>| Cumplen requisitos migratorios.</p>
        </h4>
      </div>
    </div>

    <div class="me-cont-slider" style="background-color: #ffc6c6;">
      <div class="slider">
        <div class="slides">
          <div id="slide-1">
            <div class="me-slider-img" style="background-image: url(../assets/img/Assist-med/2-0.png);"></div>
            <div class="me-slider-text" style="background-color: #FF8E8E;">
              <div>
                <h1>
                  ASISTENCIA EN VIAJES.
                </h1>
                <hr class="me-line" style="margin: 10px 0;">
                <h4>
                  <p><strong>| Tech Protection.</strong> Tus gadgets asegurados.</p>
                  <p><strong>| Futura Mamá.</strong> Embarazadas de hasta 32 semanas.</p>
                  <p><strong>| Asistencia médica.</strong> En caso de enfermedad preexistente.</p>
                  <p><strong>| Late arrival.</strong> Ante llegadas tarde al aeropuerto..</p>
                  <p><strong>| Cancelación de viaje. Multi-causa.</strong> Multi-causa.</p>
                  <p><strong>| Cobertura. </strong> En caso de enfermedad epidémica.</p>
                  <p><strong>| Indemnización. </strong> Por asistencia médica.</p>
                  <p><strong>| Gastos. </strong> Por quiebre de operador turístico.</p>
                </h4>
              </div>
            </div>
          </div>
          <div id="slide-2">
            <div class="me-slider-img" style="background-image: url(../assets/img/Assist-med/3-0.png);"></div>
            <div class="me-slider-text" style="background-color: white;">
              <div>
                <h1>
                  ¿Por qué es necesario unA ASISTENCIA internacional?
                </h1>
                <hr class="me-line" style="margin: 10px 0;">
                <p>
                  Uno nunca sabe qué pueda ocurrir en un viaje, por eso es importante que tus clientes cuenten con una
                  asistencia que los proteja de eventualidades e impida una mala pasada.
                  <br> — <br>
                  Elige el seguro de acuerdo a sus necesidades.
                </p>
              </div>
            </div>
          </div>
        </div>

        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
      </div>
    </div>

    <div class="me-footer">
      <img src="../assets/icons/mexjalWhite.svg" alt="" width="100" height="25">
      <hr style="height:2px;border-width:0;color:white;background-color:white; margin: 25px 0;">
      <div>
        <div style="background-color: transparent; color: white;">
          <p>
            Justo Sierra #2593, piso 02. Colonia Arcos Vallarta | C.P. 44130. Guadalajara, Jalisco | México.
            <br> — <br>
            info@mexjal.com.mx 333.630.31.30
            <br> — <br>
            Política de privacidad. ©Copyright 2020 | Grupo Mexjal.
          </p>
        </div>

        <hr style="height:2px;border-width:0;color:white;background-color:white; margin: 25px 0;">

        <div class="me-footer-icons">
          <ul class="me-social">
            <li><img src="../assets/icons/fb.svg" alt="" width="25"></li>
            <li><img src="../assets/icons/twit.svg" alt="" width="25"></li>
            <li><img src="../assets/icons/instagram.svg" alt="" width="25"></li>
            <li><img src="../assets/icons/google.svg" alt="" width="25"></li>
            <li><img src="../assets/icons/laT.svg" alt="" width="25"></li>
          </ul>
          <ul class="me-arrow">
            <li><i class="fas fa-arrow-up"></i></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <script src="../assets/js/index.js"></script>
</body>

</html>
