<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/1050px.css">

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div class="me-container">

    <!-- onclick="location.href='mensaje';" -->

    <div class="me-slider-new">
      <ul>
        <li><img src="assets/img/Logos/aeromexico.svg" class="me-logos-ex"></li>
        <li><img src="assets/img/Logos/airfrance.svg" class="me-logos-ex"></li>
        <li><img src="assets/img/Logos/americans.svg" class="me-logos-ex"></li>
        <li><img src="assets/img/Logos/delta.svg" class="me-logos-ex"></li>
      </ul>
    </div>
  </div>

  <script src="assets/js/jquery-3.5.1.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>

</html>
