<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/1050px.css">

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div class="me-container">

    <div class="me-mensaje">
      <div class="me-mensaje-img"></div>
      <div class="me-mensaje-data">
        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

        <div>
          <label for="">
            Agencia
          </label>
          <input type="text">
        </div>

      </div>
    </div>

    <div class="me-slider-ul">
      <ul>
        <li>
          <img src="" alt="">
        </li>
        <li>
          <img src="" alt="">
        </li>
        <li>
          <img src="" alt="">
        </li>
        <li>
          <img src="" alt="">
        </li>
      </ul>
    </div>

    <!-- <div>
      <input type="button" value="Mostar" id="me-show-menu">
    </div>
    <div class="me-menu-mv">
      <ul>
        <li>
          <a href="./mexjal.html">GRUPO Mexjal | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
        <li>
          <a href="./operadora.html">Operadora | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
        <li>
          <a href="./consolidador.html">Consolidador | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
        <li>
          <a href="./corporate.html">CORPORATE Mexjal | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
        <li>
          <a href="./assist.html">Assist-med | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
        <li>
          <a href="./login.html">Iniciar Sesión | <img src="../assets/icons/Icono.svg" alt=""></a>
        </li>
      </ul>
    </div> -->

  </div>

  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <script src="../assets/js/index.js"></script>
</body>

</html>
