<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/1050px.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="me-container">
      <nav class="me-menu" style="background-color: #5597ff; height: 505px">
        <div class="me-menu-encabezado">
          <div style="padding-bottom: 10px">
            <img src="assets/icons/mexjal.svg" alt="" width="100" />
          </div>
          <div class="me-nav-icons">
            <i class="far fa-times-circle"></i>
          </div>
          <div style="width: 100%; float: left">
            <hr class="me-line" style="margin: 10px 0" />
          </div>
        </div>
      </nav>

      <section class="msg-section me-menu">
        <div class="msg-container">
          <div class="img-cont">
            <img
              src="assets/img/Mensaje/1-1.png"
              style="background-size: cover"
              width="100%;"
              height="100%"
            />
          </div>
          <div class="info-cont">
            <div class="msg-info-pattern msg-info-child1" style="height: 45%">
              <div id="agencia" class="">
                <div class="msg-item" id="ag">
                  <div><span class="op-msg">Agencia:</span></div>
                  <div>
                    <input type="text" placeholder="Aliat Agency" />
                  </div>
                </div>
              </div>
              <div id="ubicacion" class="">
                <div class="msg-item" id="ub">
                  <div><span class="op-msg">Ubicación:</span></div>
                  <div>
                    <input
                      type="text"
                      placeholder="Paseo Lomas Altas #4511-A / Colonia Lomas Altas."
                    />
                  </div>
                </div>
              </div>
              <div id="ciudad" class="">
                <div class="msg-item" id="ci">
                  <div><span class="op-msg">Ciudad:</span></div>
                  <div>
                    <input type="text" placeholder="Guadalajara" />
                  </div>
                </div>
              </div>
              <div id="estado" class="">
                <div class="msg-item" id="es">
                  <div><span class="op-msg">Estado:</span></div>
                  <div>
                    <input type="text" placeholder="Jalisco" />
                  </div>
                </div>
              </div>
              <div id="cp" class="">
                <div class="msg-item" id="cp-child">
                  <div><span class="op-msg">C.P.:</span></div>
                  <div>
                    <input type="text" placeholder="45128" />
                  </div>
                </div>
              </div>
            </div>
            <hr style="border: 1px solid black" />
            <div class="msg-info-pattern msg-info-child2" style="height: 55%">
              <div id="agente" class="">
                <div class="msg-item" id="agen">
                  <div><span class="op-msg">Agente:</span></div>
                  <div>
                    <input type="text" placeholder="Leonel Ramírez" />
                  </div>
                </div>
              </div>
              <div id="telefono" class="">
                <div class="msg-item" id="te">
                  <div><span class="op-msg">Teléfono:</span></div>
                  <div>
                    <input type="text" placeholder="+52 9511772122" />
                  </div>
                </div>
              </div>
              <div id="email" class="">
                <div class="msg-item" id="em">
                  <div><span class="op-msg">Correo electrónico*: </span></div>
                  <div>
                    <input type="text" placeholder="leo@aliat.agency" />
                  </div>
                </div>
              </div>
              <div id="mensaje">
                <div class="item-msg" id="me">
                  <div><span class="op-msg">Mensaje:</span></div>
                  <div>
                    <textarea name="mensaje" cols="40" style="margin-top: 5px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</textarea
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-subscribe-container">
          <input type="radio" name="radiogroup" id="radio-1" />
          <span class="textBla-btn-suscribe">*Suscribirme al </span>
          <span class="textBlu-btn-suscribe">&nbsp;Newsletter.</span>
        </div>
        <div class="ma-buttons" style="margin-top: 26px">
          <input type="button" value="Contáctanos" />
          <div class="ma-btn-transiton" style="background-color: #5597ff">
            <i class="far fa-long-arrow-right"></i>
          </div>
        </div>
      </section>

      <div class="me-footer">
        <img
          src="assets/icons/mexjalWhite.svg"
          alt=""
          width="100"
          height="25"
        />
        <hr
          style="
            height: 2px;
            border-width: 0;
            color: white;
            background-color: white;
            margin: 25px 0;
          "
        />
        <div>
          <div style="background-color: transparent; color: white">
            <p>
              Justo Sierra #2593, piso 02. Colonia Arcos Vallarta | C.P. 44130.
              Guadalajara, Jalisco | México.
              <br />
              — <br />
              info@mexjal.com.mx 333.630.31.30
              <br />
              — <br />
              Política de privacidad. ©Copyright 2020 | Grupo Mexjal.
            </p>
          </div>

          <hr
            style="
              height: 2px;
              border-width: 0;
              color: white;
              background-color: white;
              margin: 25px 0;
            "
          />

          <div class="me-footer-icons">
            <ul class="me-social">
              <li><img src="assets/icons/fb.svg" alt="" width="25" /></li>
              <li><img src="assets/icons/twit.svg" alt="" width="25" /></li>
              <li>
                <img src="assets/icons/instagram.svg" alt="" width="25" />
              </li>
              <li><img src="assets/icons/google.svg" alt="" width="25" /></li>
              <li><img src="assets/icons/laT.svg" alt="" width="25" /></li>
            </ul>
            <ul class="me-arrow">
              <li><i class="fas fa-arrow-up"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
