<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>mexjal</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/1050px.css" />

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div class="me-container">
    <nav class="me-menu" id="me1" style="background-color: #5597ff">
      <div class="me-menu-encabezado">
        <div style="padding-bottom: 10px">
          <a href="/"><img src="assets/icons/mexjal.svg" alt="" width="100" /></a>
        </div>
        <div class="me-nav-icons">
          <a href="/"><img src="assets/icons/home-24px.svg" /></a>
          <img src="assets/icons/chat_bubble_outline-24px.svg" />
          <img src="assets/icons/Icono-Menú.svg" id="me-show-menu" class="me-hamburguesa" />
        </div>
        <div style="width: 100%; float: left">
          <hr class="me-line" style="margin: 10px 0" />
        </div>
      </div>

      <ul>
        <li><a href="mexjal">GRUPO Mexjal |</a></li>
        <li><a href="operadora">Operadora |</a></li>
        <li><a href="consolidador">Consolidador |</a></li>
        <li><a href="corporate">CORPORATE Mexjal |</a></li>
        <li><a href="assist">Assist-med |</a></li>
        <li><a href="login">Iniciar Sesión |</a></li>
      </ul>

      <div class="me-menu-mv">
        <ul>
          <li>
            <a href="mexjal">GRUPO Mexjal | <img src="assets/icons/Icono.svg" /></a>
          </li>
          <li>
            <a href="operadora">Operadora | <img src="assets/icons/Icono.svg" /></a>
          </li>
          <li>
            <a href="consolidador">Consolidador | <img src="assets/icons/Icono.svg" /></a>
          </li>
          <li>
            <a href="corporate">CORPORATE Mexjal | <img src="assets/icons/Icono.svg" /></a>
          </li>
          <li>
            <a href="assist">Assist-med | <img src="assets/icons/Icono.svg" /></a>
          </li>
          <li>
            <a href="login">Iniciar Sesión | <img src="assets/icons/Icono.svg" /></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="me-top-data padding" style="background-color: #5597ff">
      <div style="background-color: transparent">
        <h1>
          Expertos en todo <br />
          tipo de viajes.
        </h1>
      </div>

      <div class="ma-buttons">
        <input type="button" value="Contáctanos" onclick="location.href='mensaje';" />
        <div class="ma-btn-transiton" style="background-color: #5597ff">
          <i class="far fa-long-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="me-data padd">
      <p>
        Somos un mayorista de viajes certificado, situados en Guadalajara,
        encargado de facilitar las ventas a nuestros socios comerciales.
        <br />
        —
      </p>
      <hr style="height: 2px; background-color: gray; margin-bottom: 25px" />
      <p>
        Ofrecemos a nuestros nuestros clientes servicios personalizados en
        gestión de viajes, nos adaptamos a ti, para convertir tus planes en
        realidad.
      </p>
    </div>

    <div class="me-section" id="me2">
      <div class="me-section-img" style="background-color: #c9c9c9">
        <div class="me-section-logo">
          <!-- <img src="assets/icons/operadora.svg" width="156" height="24"> -->
        </div>
        <img src="assets/img/Mexjal/1-0.png" height="243" alt="" />
      </div>
      <div class="me-section-data">
        <h1>
          <strong>Contamos con las mejores <br />
            tarifas |</strong>
          <br />
          ¡Contáctanos y compruébalo!
        </h1>
        <hr class="me-line" style="background-color: gray" />
        <p>
          Paquetes turísticos a la medida con soluciones completas para
          transporte, hospedaje, recreación y mucho más.
          <br />
          — <br />
          Sorpréndete con nuestras tarifas y comisiones.
        </p>
      </div>
    </div>

    <div class="me-article" id="me3">
      <div class="me-article-text">
        <h1>
          Experiencia <br />
          asegurada.
        </h1>
        <div class="me-line"></div>
        <h4>
          <p><strong>| 40+</strong> Años de experiencia.</p>
          <p><strong>| 700+</strong> Socios y Afiliados.</p>
          <p><strong>| 1000+</strong> Agentes capacitados.</p>
          <p><strong>| 250+</strong> Aerolíneas.</p>
          <p><strong>| 800+</strong> Clientes satisfechos.</p>
          <p><strong>| 150+</strong> Destinos y países.</p>
        </h4>
      </div>

      <div class="me-article-data">
        <div class="me-article-img"></div>
        <div class="me-img-text">
          <p>Contamos con la confianza de estas compañías aéreas.</p>
          <a id="me-show-div">VER TODAS</a>

          <div class="me-line"></div>

          <div class="me-carrusel-aut">
            <div class="me-slider-new">
              <ul>
                <li><img src="assets/img/Logos/aeromexico.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/airfrance.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/americans.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/delta.svg" class="me-logos-ex"></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="me-show-text">
          <div>
            <div>
              <a id="me-close"><img src="assets/icons/cerrar.svg" /></a>
            </div>
            <div>
              <p>
                • Aeroméxico <br>
                • Air France <br>
                • American Airlines <br>
                • All Nippon <br>
                • Aeromar <br>
                • British airways <br>
                • Copa Airlines <br>
                • Delta Airlines <br>
                • Emirates <br>
                • Iberia <br><br>
                — Y muchas más… <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="me-footer">
      <img src="assets/icons/mexjalWhite.svg" width="100" height="25" />
      <hr style="
              height: 2px;
              border-width: 0;
              color: white;
              background-color: white;
              margin: 25px 0;
            " />
      <div>
        <div style="background-color: transparent; color: white">
          <p>
            Justo Sierra #2593, piso 02. Colonia Arcos Vallarta | C.P. 44130.
            Guadalajara, Jalisco | México.
            <br />
            — <br />
            info@mexjal.com.mx 333.630.31.30
            <br />
            — <br />
            Política de privacidad. ©Copyright 2020 | Grupo Mexjal.
          </p>
        </div>

        <hr style="
                height: 2px;
                border-width: 0;
                color: white;
                background-color: white;
                margin: 25px 0;
              " />

        <div class="me-footer-icons">
          <ul class="me-social">
            <li><img src="assets/icons/fb.svg" alt="" width="25" /></li>
            <li><img src="assets/icons/twit.svg" alt="" width="25" /></li>
            <li>
              <img src="assets/icons/instagram.svg" alt="" width="25" />
            </li>
            <li><img src="assets/icons/google.svg" alt="" width="25" /></li>
            <li><img src="assets/icons/laT.svg" alt="" width="25" /></li>
          </ul>
          <ul class="me-arrow">
            <li>
              <img src="../assets/icons/arriva.svg" class="ir-arriba" alt="" width="35" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="me-nav-right">
    <ul>
      <li><a href="#me1">Inicio |</a></li>
      <li><a href="#me2">Tarifas |</a></li>
      <li><a href="#me3">Experiencia |</a></li>
    </ul>
  </div>

  <script src="assets/js/jquery-3.5.1.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>

</html>
