<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/1050px.css">

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div class="me-container">
    <nav class="me-menu" id="me1" style="background-color: #22CE6B;">
      <div class="me-menu-encabezado">
        <div style="padding-bottom: 10px">
          <a href="/"><img src="assets/icons/operadora.svg" width="200"></a>
        </div>
        <div class="me-nav-icons">
          <a href="/"><img src="assets/icons/home-24px.svg" /></a>
          <img src="assets/icons/chat_bubble_outline-24px.svg" />
          <img src="assets/icons/Icono-Menú.svg" id="me-show-menu" class="me-hamburguesa" />
        </div>
        <div style="width: 100%; float: left;">
          <hr class="me-line" style="margin: 10px 0;">
        </div>
      </div>

      <ul>
        <li><a href="mexjal">Grupo Mexjal |</a></li>
        <li><a href="operadora">Operadora |</a></li>
        <li><a href="consolidador">Consolidador |</a></li>
        <li><a href="corporate">Corporate Mexjal |</a></li>
        <li><a href="assist">Assist-med |</a></li>
        <li><a href="login">Iniciar Sesión |</a></li>
      </ul>

      <div class="me-menu-mv">
        <ul>
          <li>
            <a href="mexjal">Grupo mexjal | <img src="assets/icons/Icono.svg"></a>
          </li>
          <li>
            <a href="operadora">Operadora | <img src="assets/icons/Icono.svg"></a>
          </li>
          <li>
            <a href="consolidador">Consolidador | <img src="assets/icons/Icono.svg"></a>
          </li>
          <li>
            <a href="corporate">Corporate Mexjal | <img src="assets/icons/Icono.svg"></a>
          </li>
          <li>
            <a href="assist">Assist-med | <img src="assets/icons/Icono.svg"></a>
          </li>
          <li>
            <a href="login">Iniciar Sesión | <img src="assets/icons/Icono.svg"></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="me-top-data padding" style="background-color: #22CE6B;">
      <div style="background-color: transparent;">
        <h1>
          La plataforma B2B con <br><span class="font-strong">cientos de miles de opciones.</span>
        </h1>
      </div>

      <div class="ma-buttons">
        <input type="button" value="Contáctanos" onclick="location.href='mensaje';">
        <div class="ma-btn-transiton" style="background-color: #22CE6B;">
          <i class="far fa-long-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="me-section aux">
      <div class="me-section-img dis-100">
        <p>
          Gracias a los servicios de nuestra operadora podrás ofrecerle a tus clientes
          experiencias completas con paquetes turísticos hechos a la medida.
          <br> — <br>
          Combinamos servicios de hotelería, nacional e internacional, con servicios como tours, traslados,
          circuitos, renta de autos, cruceros y asistencia al viajero.
          <br> — <br>
        </p>
      </div>
      <div class="me-section-data p-left-0">
        <div class="b-left">
          <p class="ml-25">
            Nuestro objetivo es brindar la mejor atención, con los precios
            más competitivos, así como excelentes comisiones, pero sobre todo, calidad y atención a nuestros socios.
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="me-section" id="me2">
      <div class="me-section-img" style="background-color: #C9C9C9;">
        <div class="me-section-logo">
          <!-- <img src="assets/icons/operadora.svg" width="156" height="24"> -->
        </div>
        <img src="assets/img/Corporate/1-2.png" height="243" alt="">
      </div>
      <div class="me-section-data">
        <h1>
          <span class="font-strong-u">Con la operadora MAYORISTA| </span> <br> Te aseguramos el servicio más completo.
        </h1>
        <hr class="me-line" style="background-color: gray;">
        <p style="margin-top: 20px ;">
          Te ofrecemos: <br> <br>
          <p><span class="font-strong">
              | Los mejores paquetes.
            </span></p>
          <p>
            <span class="font-strong">
              | Las mejores tarifas del mercado.
            </span>
          </p>
          <p>
            <span class="font-strong">
              | Personal experto en FIT´S.
            </span>
          </p>
          <p>
            <span class="font-strong">
              | Atención los 365 días del año.
            </span>
          </p>
          <p>
            <span class="font-strong">
              | Hoteles en todo el mundo.
            </span>
          </p>
          <p>
            <span class="font-strong">
              | Asistencia de viaje.
            </span>
          </p>

        </p>
      </div>
    </div>

    <div class="me-cont-slider" id="me3">
      <div class="slider">
        <div class="slides">
          <div id="slide-1">
            <div class="me-slider-img"></div>
            <div class="me-slider-text">
              <div>
                <h1>
                  <span class="font-strong">CIRCUITOS TERRESTRES POR EUROPA.</span>
                  <p class="font-strong" style="font-size: 17px;">MAPAPLUS – VPT – SPECIALTOURS</p>
                </h1>
                <hr class="me-line" style="margin: 10px 0;">
                <p>Ofrécele a tus clientes los mejores destinos europeos y
                  sorpréndelos con las mejores tarifas del mercado
                  . <br> — <br>
                  Ahora podrán viajar por toda europa sin restricciones gracias a nuestra red de servicios de transporte
                  que ponemos a tu disposición con múltiples opciones para que lleguen sin complicaciones a sus
                  destinos.</p>
              </div>
            </div>
          </div>
          <div id="slide-2">
            <div class="me-slider-img"></div>
            <div class="me-slider-text" style="background-color: #7AE1A6;">
              <div>
                <h1>
                  <span class="font-strong">HOTELERÍA INTERNACIONAL.</span>
                  <p class="font-strong" style="font-size: 17px;">Karisma – Marival – Posadas – Cityexpress</p>
                </h1>
                <hr class="me-line" style="margin: 10px 0;">
                <p>
                  Encontrarás cientos de miles de hoteles al mejor precio,
                  podrás compartir información con tus clientes y lo mejor de todo es que conservaras la imagen de tu
                  agencia.
                  <br> — <br> Con nuestra operadora mayorista podrás hacer realidad los sueños de tus clientes.
                </p>
              </div>
            </div>
          </div>
        </div>

        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
      </div>
    </div>

    <div class="me-article" id="me4" style="display: none;">
      <div class="me-article-text">
        <h1>
          <span class="font-strong">PRINCIPALES PROVEEDORES.</span>
        </h1>
        <div class="me-line"></div>
        <p>
          Trabajamos con múltiples cadenas hoteleras y circuitos turísticos de confianza con los que podrás deleitar a
          tus clientes ofreciéndoles una gran variedad de opciones con la mejor relación precio-calidad del mercado.
        </p>
      </div>

      <div class="me-article-data">
        <div class="me-article-img" style="background-image: url(assets/img/Operadora/4-0.png);"></div>
        <div class="me-img-text">
          <p>Contamos con la confianza de estas compañías aéreas.</p>
          <a id="me-show-div">VER TODAS</a>

          <div class="me-line"></div>

          <div class="me-carrusel-aut">
            <div class="me-slider-new">
              <ul>
                <li><img src="assets/img/Logos/aeromexico.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/airfrance.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/americans.svg" class="me-logos-ex"></li>
                <li><img src="assets/img/Logos/delta.svg" class="me-logos-ex"></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="me-show-text">
          <div>
            <div>
              <a id="me-close"><img src="assets/icons/cerrar.svg" /></a>
            </div>
            <div>
              <p>
                • Aeroméxico <br>
                • Air France <br>
                • American Airlines <br>
                • All Nippon <br>
                • Aeromar <br>
                • British airways <br>
                • Copa Airlines <br>
                • Delta Airlines <br>
                • Emirates <br>
                • Iberia <br><br>
                — Y muchas más… <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="me-footer">
      <img src="assets/icons/mexjalWhite.svg" alt="" width="100" height="25">
      <hr style="height:2px;border-width:0;color:white;background-color:white; margin: 25px 0;">
      <div>
        <div style="background-color: transparent; color: white;">
          <p>
            Justo Sierra #2593, piso 02. Colonia Arcos Vallarta | C.P. 44130. Guadalajara, Jalisco | México.
            <br> — <br>
            info@mexjal.com.mx 333.630.31.30
            <br> — <br>
            Política de privacidad. ©Copyright 2020 | Grupo Mexjal.
          </p>
        </div>

        <hr style="height:2px;border-width:0;color:white;background-color:white; margin: 25px 0;">

        <div class="me-footer-icons">
          <ul class="me-social">
            <li><img src="assets/icons/fb.svg" alt="" width="25"></li>
            <li><img src="assets/icons/twit.svg" alt="" width="25"></li>
            <li><img src="assets/icons/instagram.svg" alt="" width="25"></li>
            <li><img src="assets/icons/google.svg" alt="" width="25"></li>
            <li><img src="assets/icons/laT.svg" alt="" width="25"></li>
          </ul>
          <ul class="me-arrow">
            <li><img src="assets/icons/arriva.svg" class="ir-arriba" alt="" width="35"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="me-nav-right">
    <ul>
      <li><a href="#me1">Inicio |</a></li>
      <li><a href="#me2">Operadora |</a></li>
      <li><a href="#me3">Servicios |</a></li>
      <li><a href="#me3">Proveedores |</a></li>
    </ul>
  </div>

  <script src="assets/js/jquery-3.5.1.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>

</html>